<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input e data binding</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="src/app.js" defer></script>
</head>
<body>
    <div id="app">
        <form id="app-form">
            <input type="text" v-model="input_name" placeholder="Digite o seu nome">
            <button type="submit" v-on:click="submitForm">Enviar</button>
        </form>
        <p>Meu nome é: {{ name }}</p>
        <p>Data binding: {{input_name}}</p>
    </div>
</body>
</html>