<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hello Vue</title>
    <script src="https://unpkg.com/vue@3"></script>
    <script src="src/app.js" defer></script>
</head>
<body>
    <div id="app">
        <p>{{ apresentação }}</p>
    </div>
</body>
</html>